.navbar {
    background-color: #333;
    overflow: hidden;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar a {
    color: #ffffff;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    transition: background-color 0.3s, color 0.3s;
}

.navbar a:hover {
    background-color: #585555
}

.instructions {
    width: 50%;
    max-width: 500px;
    height: auto;
    margin: 20px auto;
    text-align: center;
}


.logo_box {
    width: 50%;
    max-width: 500px;
    height: auto;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

.logo {
    width: 100%;
    height: 100%;
    display: block;
}

body {
    background-color: #eee1ba;
    font-family: Tahoma, sans-serif;
    margin: 0;
    padding: 0;

}

h1 {
    font-family: Tahoma, sans-serif;

}

h2 {
    font-family: Tahoma, sans-serif;
}



.welcome_box {
    width: 90%;
    max-width: 500px;
    height: auto;
    margin: 20px auto;
    text-align: center;
}

.button_box {
    color: #333;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.Register_box {
    width: 300px;
    margin: 80px auto;
    height: auto;
    margin: 20px auto;
    text-align: center;
}

.Register_box input {
    width: 90%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.Register_box button {
    color: white;
    background-color: #333;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    width: 100%;
    margin-top: 10px;
}

.login_box button {
    color: white;
    background-color: #333;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    width: 100%;
    margin-top: 10px;
}



.login_box {
    width: 300px;
    margin: 80px auto;
    height: auto;
    margin: 20px auto;
    text-align: center;
}

.login_box input {
    width: 90%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.selection_button {
    background-color: #333;
    color: #fff;
    padding: 80px 50px;
    border: none;
    border-radius: 9px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.selection_box {
    width: 50%;
    max-width: 500px;
    height: auto;
    margin: 55px auto;
    text-align: center;
    gap: 50px;
}


.other_games {
    display: flex;
    margin: 40px auto;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.other_games_header_box {
    width: 50%;
    max-width: 500px;
    height: auto;
    margin: 20px auto;
    text-align: center;
}


.angry_birds_tile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #a02219;
    color: #fff;
    padding: 80px 50px;
    border: none;
    border-radius: 9px;

}

.plants_vs_zombie_tile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #1fbd11;
    color: #fff;
    padding: 80px 50px;
    border: none;
    border-radius: 9px;
}


.grid_box_easy {
    display: grid;
    grid-template-columns: repeat(6, 50px);
    grid-template-rows: repeat(6, 50px);
    gap: 2px;
    justify-items: center;
    margin: 0 auto 50px;
}

.grid_box_easy input {
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 18px;
}

.easy_grid_container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.game_box_easy {
    width: 50%;
    max-width: 500px;
    height: auto;
    margin: 20px auto;
    text-align: center;
}


.grid_box_hard {
    display: grid;
    grid-template-columns: repeat(9, 50px);
    grid-template-rows: repeat(9, 50px);
    gap: 2px;
    justify-items: center;
    margin: 0 auto 50px;
}

.grid_box_hard input {
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 18px;
}

.hard_grid_container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.game_box_hard {
    width: 50%;
    max-width: 500px;
    height: auto;
    margin: 20px auto;
    text-align: center;
}

.rules_box {
    width: 50%;
    max-width: 700px;
    height: auto;
    margin: 20px auto;
    text-align: left;
}

.rules_title_box {
    width: 50%;
    max-width: 700px;
    height: auto;
    margin: 20px auto;
    text-align: center;
}

.button_box_bread {
    display: flex;
    justify-content: center;
    gap: 100px;

}

.button_img {
    width: 180px;
    height: auto;
    display: block;

}

.credits_box {
    width: 50%;
    max-width: 700px;
    height: auto;
    margin: 20px auto;
    text-align: center;
}

.credits_box a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}